<!DOCTYPE html>
<html>
<head lang="en">
  <title>Tomin.be - Heeft je kind problemen met rekenen?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
  <style>
    html {
      background: url('/images/Pure-mathematics-formulae-blackboard.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans", serif;
      background: transparent;
    }

    h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }

    .margin-base-vertical {
      margin: 40px 0;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
      <h1 class="margin-base-vertical">Heeft je kind problemen met rekenen?</h1>

      <p>De enige manier om beter te worden in rekenen is oefenen. Maar soms zijn de oefeningen die je kind van de juf of
        meester krijgt niet genoeg. Dan kunnen wij als ouders onze kinderen helpen.</p>

      <p>Tomin.be is een website waar kinderen op een veilige manier extra oefeningen kunnen maken. Als ouder kan je
        controleren hoe goed je kind deze oefeningen doet.</p>

      <p>Je kan de maaltafels al gratis oefenen. Geef daarvoor hieronder je email adres op. We houden je dan ook op de
        hoogte van de ontwikkelingen bij Tomin.be.</p>

      <form action="/subscribers" method="post" class="margin-base-vertical">
        <p class="input-group">
          <span class="input-group-addon"><span class="icon-envelope"></span></span>
          <input type="email" required class="form-control input-lg" name="email" placeholder="voorbeeld@tomin.be"/>
        </p>

        <p class="help-block text-center">
          <small>We zullen je geen spam sturen. Je kan je op elk moment uitschrijven.</small>
        </p>
        <p class="text-center">
          <button type="submit" class="btn btn-success btn-lg">Ga naar de maaltafels</button>
        </p>
      </form>
    </div>
  </div>
</div>
</body>
</html>
