<!DOCTYPE html>
<html>
<head lang="en">
  <title>Tomin.be - Heeft je kind problemen met rekenen?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>
  <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
  <style>
    html {
      background: url('/images/Pure-mathematics-formulae-blackboard.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    body {
      padding-top: 20px;
      font-size: 16px;
      font-family: "Open Sans", serif;
      background: transparent;
    }

    h1 {
      font-family: "Abel", Arial, sans-serif;
      font-weight: 400;
      font-size: 40px;
    }

    .panel {
      background-color: rgba(255, 255, 255, 0.9);
    }

    .margin-base-vertical {
      margin: 40px 0;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 panel panel-default">
      <h1 class="margin-base-vertical">Bijna klaar</h1>

      <p>Alvast bedankt voor je interesse.</p>

      <p>Je ontvangt zo meteen een email, klik op de link en je bent ingeschreven.</p>

      <p>Klik op de knop om de maaltafels te oefenen.</p>

      <p class="text-center"><a class="btn btn-lg btn-primary" href="/exercises">Start</a></p>
    </div>
  </div>
</div>
</body>
</html>
