<!doctype html>
<html>
<head>
  <title>Tomin.be - Maaltafels</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Maaltafels</h1>
      <% if flash %>
        <div class="alert alert-success alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= flash %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Kies hier welke tafels je wil oefenen</h1>
        </div>
        <div class="panel-body">
          <form method="GET" action="/exercises" class="form-horizontal">
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group" data-toggle="buttons">
                  <% (1..10).each do |table| %>
                    <label class="btn btn-lg btn-info <%= 'active' if tables.include?(table.to_s) %>">
                      <input name="tables[]" type="checkbox" value="<%= table %>" <%= 'checked' if tables.include?(table.to_s) %>/><%= table %>
                    </label>
                  <% end %>
                </div>
                <button class="btn btn-lg btn-primary">Start</button>
              </div>
            </div>
            <div class="row">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="/exercises?<%= tables.map { |table| "tables[]=#{table}" }.join('&') %>" method="post" class="form-horizontal">
      <% index = 0 %>
        <% exercises.each_slice(15) do |rows_of_exercises| %>
          <div class="row" id="exercises">
            <% rows_of_exercises.each_slice(5) do |block_of_exercises| %>
              <div class="col-md-4">
                <% block_of_exercises.each do |exercise| %>
                  <div class="form-group <%= if exercise.solved?
                                               exercise.correct? ? 'has-success has-feedback' : 'has-error has-feedback'
                                             else
                                               ''
                                             end %>">
                    <label class="control-label col-sm-3" for="exercise-solution[<%= index %>]"><%= exercise %>
                      = </label>
                    <input type="hidden" name="exercise-lhs[<%= index %>]" value="<%= exercise.lhs %>"/>
                    <input type="hidden" name="exercise-rhs[<%= index %>]" value="<%= exercise.rhs %>"/>

                    <div class="col-sm-9">
                      <input type="text" class="form-control" autocomplete="off" name="exercise-solution[<%= index %>]" value="<%= exercise.solution %>"/>
                      <% if exercise.solved? %>
                        <% if exercise.correct? %>
                          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <% else %>
                          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <% index += 1 %>
              <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <button class="btn btn-lg btn-success" type="submit">Geef af</button>
      </form>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
